/* #principal {
    width: 920px;
    border: 1px solid red;
    background-color: #f4f4f4;
}

.noticia {
    background-color: #e5e5e5;
    padding: 5px;
    width: 250px;
    margin: 20px;
    float: left;
}

.clear {
    clear: both;
}

h3 {
    margin: 0px;
    text-align: center;
}

.foto {
    background-color: #ac9d9d;
    width: 300px;
    padding: 5px;
    float: left;
    margin: 5px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

img {
    border: 3px solid #e5e5e5;
    margin: 10px;
}

.down {
    margin-left: 80px;
    margin-right: 80px;
} */

body {
    background-color: #007fc7;
}

h1 {
    margin: 0px;
}

p {
    width: 350px;
}

.rel {
    border: 1px solid red;
    position: relative;
    left: 400px;
}

#container {
    background: #ffffff;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
}