<<<<<<< HEAD
#bg {
    background: #d2d2c1 url(fundo.png);
}

#principal {
    width: 900px;
    background-color: #e8e8d9;
    padding: 10px;
}

.margin {
    font-family: Arial, helvetica, sans-serif;
}

.ct {
    text-align: center;
}

.b {
    font-weight: bold;
}

a {
=======
#bg{
    background: #d2d2c1 url(fundo.png);
}
#principal{
    width: 900px;
    background-color: #FCFBEC;
}

.margin{
    
    font-family: Arial, helvetica, sans-serif;
}
.ct{
    text-align: center;
}
.b{
    font-weight: bold;
}
a{
>>>>>>> 220f663390c70febae0cc8bdabb64e39c28b1e9c
    color: #46566A;
    text-decoration: none;
    padding: 5px;
}
<<<<<<< HEAD

#fbg {
    background-color: #c5c5b2;
    padding: 18px;
}

#fundotext {
    background-color: #FCFBEC;
}

#footer {
    text-align: center;
}

#sub {
    color: #939786;
}

#borderimg {
=======
#fbg{
    background-color: #c5c5b2;
    padding: 18px;
}
#fundotext{
    background-color: #FCFBEC;
}
#footer{
    text-align: center;
}
#sub{
    color: #939786;
}
#borderimg{
>>>>>>> 220f663390c70febae0cc8bdabb64e39c28b1e9c
    border-style: solid;
    border: solid 10px #D3D3BE;
}

<<<<<<< HEAD
p {
    padding: 8px;
}

h2 {
=======
p{
    padding: 8px;
}
h2{
>>>>>>> 220f663390c70febae0cc8bdabb64e39c28b1e9c
    padding: 8px;
}